*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: beige;
}

.in{
    display: flex;
    margin: auto;
    gap:15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.in button{
    background-color: aquamarine;
    border-color: white;
    font-size: 18px;
    border-radius: 25px;
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 40%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}


.results div{
    flex:1;
    margin: auto;
    border: 1px solid brown;
    border-radius: 25px;
}
